<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    <style>

        #header{
            background-color: black;
            color: aliceblue;
        }
        
    </style>
<body>

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <h1>BLOG SITE</h1>
                </div>
        </div>
    </header>